{% extends 'app_base_html.html' %}
{% load static %}
{% block title %}Create Table{% endblock %}
{% load humanize %}
{% block style %}

    <style>
        figure, figcaption {
            margin: 0;
            padding: 0;
        }

        figure {
        {#border: 1px solid black;#}{#width: 1200px;#}{#padding: 10px;#}{#background-color: lightblue;#}
        }

        figcaption {
        {#display: block;#}{#font-weight: bold;#}{#text-align: center;#}{#font-size: 150%;#}{#padding-bottom: .25em;#}{#background-color: yellow;#}
        }


        table {
            border-collapse: collapse;
        {#border: 2px solid black;#}{#margin: 10px auto;#} margin: 0 0;

        {#background-color: yellow;#}
        }

        th, td {
        {#border: 1px solid black;#} padding: .2em .2em;
            text-align: center;

            width: 80px;
        }

        th.left, td.left {
        {#text-align: left;#}{#width: 220px;#}
        }

        td:nth-child(1) {
        {#text-align: left;#}{#width: 200px;#}
        }

        thead, tfoot {
            background-color: mediumseagreen;
            color: white;

            line-height: 1.5;
        }

        thead th:nth-child(1), tfoot th:nth-child(1) {
            text-align: center;
        }


        tfoot {
            font-weight: bold;
        }

        th:first-child, td:first-child {
            text-align: left;
            width: 200px;

        }

        tbody tr th:nth-child(2), tbody tr td:nth-child(2) {
            text-align: center;
            color: red;
        }

        tr:nth-child(even) {
            background-color: palegreen;
        }

    </style>
{% endblock %}


{% block content %}


    <h1>รายได้ ตึก {{ bld }} เดือน {{ thai_mnth_name }} [ณ. {{ current_date_time|date:'d-m-y' }} {{ current_date_time|time:'H:i:s' }}] </h1>

    <figure>
        {#        <figcaption id="top">Monthly Billing</figcaption>#}
        <table>
            <thead>
            <tr>
                <th class="left">Name</th>
                <th>Room</th>
                <th>RCAC</th>
                <th>EC</th>
                <th>WC</th>
                <th>CSC</th>
                <th>OSC</th>
                <th>OVD</th>
                <th>LF</th>
                <th>MC</th>
                <th>TOTAL</th>
                <th>P_AMT</th>
            </tr>
            </thead>
            <tbody>

            {% for i in all_bills_list %}
                <tr>
                    <td class="left">{{ i.tenant_name }}</td>
                    <td>{{ i.room_no }}</td>
                    <td>{{ i.room_cost|add:i.room_acc_cost|add:i.adjust|floatformat:0|intcomma }}</td>
                    <td>{{ i.electricity_cost|floatformat:0|intcomma }}</td>
                    <td>{{ i.water_cost|floatformat:0|intcomma }}</td>
                    <td>{{ i.common_ser_cost|floatformat:0|intcomma }}</td>
                    <td>{{ i.other_ser_cost|floatformat:0|intcomma }}</td>
                    <td>{{ i.overdue_amount|floatformat:0|intcomma }}</td>
                    <td>{{ i.late_fee|add:i.maint_cost|floatformat:0|intcomma }}</td>
                    <td>{{ i.maint_cost|add:i.maint_cost|floatformat:0|intcomma }}</td>
                    <td>{{ i.bill_total|floatformat:0|intcomma }}</td>
                    <td>{{ i.payment_amount|floatformat:0|intcomma }}</td>
                </tr>
            {% endfor %}
            </tbody>

            <tfoot>
            <tr>
                <th class="left">Total</th>
                <td>All</td>
                <td>{{ trcac|floatformat:0|intcomma }}</td>
                <td>{{ tec|floatformat:0|intcomma }}</td>
                <td>{{ twc|floatformat:0|intcomma }}</td>
                <td>{{ tcsc|floatformat:0|intcomma }}</td>
                <td>{{ tosc|floatformat:0|intcomma }}</td>
                <td>{{ tovd|floatformat:0|intcomma }}</td>
                <td>{{ tlf|floatformat:0|intcomma }}</td>
                <td>{{ tmc|floatformat:0|intcomma }}</td>
                <td>{{ tbt |floatformat:0|intcomma }}</td>
                <td>{{ tpa |floatformat:0|intcomma }}</td>
            </tr>

            </tfoot>
        </table>
        {#        <figcaption id="bottom">Total Sales by Book</figcaption>#}
    </figure>
{% endblock %}