{% extends 'app_base_html.html' %}
{% load static %}
{% block title %}Tenant feedback{% endblock %}

{% block script %}
{% endblock %}

{% block style %}
    <style>
        #general, #how_to {
            margin-bottom: 20px;
            border-radius: 20px;
        }

        #general {
            background: #c9f5c9;
        }

        #how_to {
            background: bisque;
        }

        #gen_legend {
            font-size: 25px;
            color: red;
            font-weight: normal;
        }

        #ht_legend {
            font-size: 25px;
            color: red;
            font-weight: normal;
        }

        #txt1 {
            color: black;
            line-height: 1.5em;
            font-size: 1em;
        }

        #txt2 {
            color: black;
            line-height: 1.5em;
            font-size: 1em;
        }

    </style>
{% endblock %}

{% block content %}
    <h1>ข้อมูลที่ควรทราบ</h1>
    <fieldset id="general">
        <legend id="gen_legend">ข้อปฏิบัติ</legend>
        <ul id="txt1">
            <li><p>ช่วยรักษาความสงบ ความเป็นระเบียบ ไม่รบกวนห้องข้างเคียง และส่วนรวม</p></li>
            <li><p>ดูแลความสะอาดภายในห้องพัก ทิ้งขยะในถังขยะที่จัดเตรียมใว้ (บริเวณหน้าประตูทางเข้า อพาร์ตเม้นต์)</p></li>
            <li><p>ดูแลความปลอดภัยภายในห้องพัก หลีกเลี่ยงการกระทำที่เสี่ยงต่ออันตราย และเกิดเพลิงไหม้</p></li>
            <li><p>การจอดรถจักรยานยนต์ กรุณาจอดให้เป็นระเบียบตามแนวจอด ไม่กีดขวางคันอื่น และทางเข้าออก</p></li>
            <li><p>ไม่อนุญาตให้นำรถจักรยานยนต์ที่มีสภาพไม่เรียบร้อย หรือมีเสียงดังเกินควร เข้ามาจอดบริเวณภายในอพาร์ตเม้นต์</p></li>
            <li><p>เพื่อความปลอดภัย ของรถจักรยานยนต์และทรัพย์สินภายในอาคาร ประตูอพาร์ตเม้นต์จะถูกปิดล็อคหลังเวลา 21:00 น. จึงขอความร่วมมือ ท่านที่เข้าออกหลังเวลา <span style="color:red">21:00 น.</span> ให้ช่วยปิดล็อคด้วย </p></li>
            <li><p>การจะนำทรัพสินสวนตัวใดๆ เข้ามาติดตั้งภายในอพาร์ตเม้นต์ เช่น เครื่องซักผ้า เครื่องปรับอากาศ จะต้องแจ้งทางอพาร์ตเม้นต์ก่อนเสมอ</p></li>
            <li><p>ทุกครั้งที่เปิดประตูทางเข้า ขอความกรุณาช่วยเลื่อนประตูปิดให้สนิท เพื่อป้องกันสุนัขเร่ร่อนเข้ามารบกวน และทำความสกปรกภายในเขตอพาร์ตเม้นต์</p></li>
        </ul>
    </fieldset>

    <fieldset id="how_to">
        <legend id="ht_legend">ข้อควรรู้</legend>
        <ul id="txt2">
            <li><p>ทางอพาร์ตเม้นต์ ได้ติดตั้งเสาอากาศทีวีดิจิตอลแรงสูงในทุกห้อง ท่านสามารถนำทีวีดิจิตอลมาต่อใช้ได้ทันที โดยไม่เสียค่าใช้จ่ายใดๆ นอกจากนั้นยังได้จัดเตรียม ตู้น้ำดืม เครื่องซักผ้ายอดเหรียญ ไว้บริการตลอด 24 ชั่วโมง</p></li>
            <li><p>ก่อนสิ้นเดือน จะแจ้งค่าเช่าของเดือนให้ทราบ ตรวจสอบรายละเอียดได้ที่ เว็บไซต์ของอพาร์ตเม้นต์ <span style="color:red">(https://www.chollada.co)</span> หลังวันที่ 26 ของทุกเดือน (ใช้ username และ password ของท่านในการ login) </p></li>
            <li><p>การชำระค่าเช่าและบริการของเดือน กรุณาโอนข้าบัญชี <span style="color: blue">นาง ชลลดา บุตรวิชา ธนาคารออมสิน เลขที่บัญชี 020086523246</span> อย่างช้าไม่เกินวันที่ 5 ของเดือนถัดไป</p></li>
            <li><p>บริการอินเตอร์เน็ต ทางอพาร์ตเม้นต์ได้ติดตั้งอินเตอร์เน็ตความเร็วสูง(Hi-speed Fiber Internet 200Mbps)ไว้บริการ สนใจ ติดต่อขอรับบริการได้ ในราคา 200 บาท/เดือน</p></li>
            <li><p>การใช้อินเตอร์เน็ต ผ่าน wifi ของอพาร์ตเม้นต์ ทำได้โดย เลือกสัญญาณ <span style="color: red">WIFI@Chollada</span> เมื่อปรากฏหน้าจอเพื่อให้ไส่ระหัส ให้ใช้ <span style="color:red">เบอร์ห้อง (เช่น A306)</span> เป็น<span style="color: red"> username </span> และ <span style="color: red"> password </span>ของท่าน ในการ login</p></li>
        </ul>
    </fieldset>
{% endblock %}