{% extends "app_base_html.html" %}
{% load static %}

{% block title %}Register_done{% endblock %}

{% block script %}
{% endblock %}


{% block style %}
    <style>

        h2 {
            border-bottom: 1px solid #bbb;
            padding: 0 0 3px 0;
            margin: 10px 0 10px 0;

            color: blue;
        }


        p {
            line-height: .5;

            font-size: 17px;
            font-weight: normal;

        }

        a {
            color: green;

            text-decoration: none;
        }

        a:hover {
            color: red;
        }

    </style>
{% endblock %}


{% block content %}

{#    <h2>New user has been successfully created.</h2>#}

    <p>New user has been created.</p>



{% endblock %}
